@model IEnumerable<Department>

<h2>Departments:</h2>

<style>
    body {
        background-color: moccasin;
    }

    th, td, tr {
        border: 2px solid black;
    }
</style>

<a class="btn btn-warning mb-3" asp-action="Create">Add Department</a>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">
        There are no existing departments.
    </div>
}
else
{
    <table class="table table-bordered  table-striped">
        <thead class="table">
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dept in Model)
            {
                <tr>
                    <td>@dept.Name</td>
                    <td>@dept.Code</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@dept.Id">Edit</a>
                        <form asp-action="Delete" asp-route-id="@dept.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure?');">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}